@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap');

// Import Bootstrap functions for use in overrides
@import "~bootstrap/scss/functions";


// Bootstrap variable overrides
$enable-shadows: true;


// Custom colors
// https://coolors.co/653aa6-546140-f4f5f5-1a130f-8fb339-77aebb-ec9a29-ef3e36
$turple: #653aa6;
$teddygreen: #546140;
// Override Bootstrap colors
$green: #8FB339;
$cyan: #77AEBB;
$yellow: #EC9A29;
$red: #EF3E36;

$custom-colors: (
  "turple": $turple,
  "teddygreen": $teddygreen,
);

// Custom Theme colors
$primary: $turple;
$secondary: $teddygreen;

$white: mix(white, $turple, 95%);
$black: mix(black, $turple, 95%);
$gray-100: mix($black, $white, 15%);
$gray-200: mix($black, $white, 25%);
$gray-300: mix($black, $white, 35%);
$gray-400: mix($black, $white, 45%);
$gray-500: mix($black, $white, 55%);
$gray-600: mix($black, $white, 65%);
$gray-700: mix($black, $white, 75%);
$gray-800: mix($black, $white, 85%);
$gray-900: mix($black, $white, 95%);


// Bootstrap function overrides
@function tint-color($color, $weight) {
  @return mix($white, $color, $weight);
}
@function shade-color($color, $weight) {
  @return mix($black, $color, $weight);
}


$font-family-base: 'Roboto', sans-serif;
$headings-font-family: 'Oswald', sans-serif;


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 2560px
);

// Bootstrap imports
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Merge maps
$colors: map-merge($colors, $custom-colors);

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
// @import "~bootstrap/scss/accordion";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/close";
// @import "~bootstrap/scss/toasts";
// @import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";
// @import "~bootstrap/scss/offcanvas";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/utilities/api";
